body::-webkit-scrollbar {
    display: none;
}

.nav-bg {
    position: fixed;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80%;
    position: relative;
    min-width: 18dvw;
    max-width: 18dvw;
    margin: 0 30dvw 0 2dvw;
}

.image-gallery {
    height: 100vh;
    width: max-content;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
}

.image-track {
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
    background: rgb(var(--off-white-rgb));
    min-width: calc(100% - 100vw);
}

.image-column {
    transform-origin: bottom;
}

.image {
    height: calc(100vh - 14rem);
}

.next-project {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -50dvw;
    margin-right: 2dvw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}