@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 70, 70, 70;
  --off-white-rgb: 248, 240, 227;
  --shadow-rgb: 216, 207, 196;
  --light-rgb: 255, 252, 249;
  --motto-blue-rgb: 37, 43, 58;
  /* --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--off-white-rgb))
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.off-white-bg {
  background-color: rgb(var(--off-white-rgb));
}

/* navbar */
.nav-item {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: rgb(var(--motto-blue-rgb));
  font-weight: 400;
  letter-spacing: 0.03rem;
}

.nav-bg {
  background: rgb(var(--off-white-rgb));
}

.nav-arrow {
  margin-left: 1rem;
  font-size: 0.9rem;
  opacity: 0;
  transform: translateY(0.05rem);
  transition-duration: 200ms;
}

.nav-item:hover .nav-arrow {
  opacity: 1;
}

/* homepage */
.homepage-poster {
  transform: translateY(-7rem);
}

/* scrollbar */
.homepage-cover-img-box {
  background-color: rgb(var(--off-white-rgb));
  height: 150vh;

  div::-webkit-scrollbar {
    height: 20px;
  }

  div::-webkit-scrollbar-track {
    box-shadow:
      5px 5px 5px 0px rgba(var(--shadow-rgb), 0.9) inset,
      -5px -5px 5px 0px rgba(var(--light-rgb), 0.9) inset;
    border-radius: 10px;
  }

  div::-webkit-scrollbar-thumb {
    /* background: rgb(var(--off-white-rgb)); */
    cursor: grab;
    border: 2px solid rgba(0, 0, 0, 0);
    box-shadow:
      3px 3px 3px 0px rgba(var(--light-rgb), 0.9) inset,
      -2px -2px 3px 0px rgba(var(--shadow-rgb), 0.9) inset;
    border-radius: 10px;
    height: 10px;
  }

}

.homepage-cover-img-box div::-webkit-scrollbar-thumb:hover {
  box-shadow:
    5px 5px 3px 0px rgba(var(--light-rgb), 0.9) inset,
    -2px -2px 3px 0px rgba(var(--shadow-rgb), 0.9) inset;
}

.homepage-cover-img-box div {
  animation-duration: 0.15s;
  transition: 0.15s;
}

.homepage-cover-img:hover> :not(:hover) {
  filter: brightness(80%) blur(1px);
}


.img-shadow {
  filter: drop-shadow(0 0 0.35rem rgb(175, 175, 175));
}


/* btn */

.beige-neumor-btn {
  outline: none;
  cursor: pointer;
  transition: .15s ease-in-out;
  box-shadow: -6px -6px 10px rgba(var(--light-rgb), .7),
    -6px -6px 7px rgba(var(--light-rgb), .5),
    6px 6px 6px rgba(255, 255, 255, .075),
    6px 6px 8px rgba(0, 0, 0, .15);
}

.beige-neumor-btn:hover {
  box-shadow: -2px -2px 6px rgba(var(--light-rgb), .6),
    -2px -2px 4px rgba(var(--light-rgb), .4),
    2px 2px 2px rgba(255, 255, 255, .05),
    2px 2px 4px rgba(0, 0, 0, .1);
}

.beige-neumor-btn:active {
  box-shadow: inset -2px -2px 6px rgba(var(--light-rgb), .7),
    inset -2px -2px 4px rgba(var(--light-rgb), .5),
    inset 2px 2px 2px rgba(255, 255, 255, .075),
    inset 2px 2px 4px rgba(0, 0, 0, .15);
}

.white-neumor-btn {
  outline: none;
  cursor: pointer;
  transition: .15s ease-in-out;
  box-shadow: -6px -6px 10px rgba(255, 255, 255, .7),
    -6px -6px 7px rgba(255, 255, 255, .5),
    6px 6px 6px rgba(255, 255, 255, .075),
    6px 6px 8px rgba(0, 0, 0, .15);
}

.white-neumor-btn:hover {
  box-shadow: -2px -2px 6px rgba(255, 255, 255, .7),
    -2px -2px 4px rgba(255, 255, 255, .5),
    2px 2px 2px rgba(255, 255, 255, .05),
    2px 2px 4px rgba(0, 0, 0, .1);
}

.white-neumor-btn:active {
  box-shadow: inset -2px -2px 6px rgba(255, 255, 255, .7),
    inset -2px -2px 4px rgba(255, 255, 255, .5),
    inset 2px 2px 2px rgba(255, 255, 255, .075),
    inset 2px 2px 4px rgba(0, 0, 0, .15);
}

.homepage-feature-project-box {
  height: 70vh;
}

.hover-project-title {
  color: rgb(var(--off-white-rgb));
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 5%;
  background: linear-gradient(to bottom, transparent 0 50%, rgba(0, 0, 0, 0.8) 90%);
}

/* project detail page */
.track-title {
  display: flex;
  flex-direction: column;
  height: 80%;
  top: 10%;
  position: relative;
  min-width: 15vw;
  max-width: 20vw;
}

@keyframes scrollEffect {
  from {
    opacity: 0;
    scale: 0.5;
    transform-origin: bottom left;
  }

  to {
    opacity: 1;
    scale: 1;
    transform-origin: bottom left;
  }
}

.track-container {
  display: grid;
  display: flex;
  column-gap: 1rem;
  overflow-x: scroll;
  /* scroll-behavior: smooth; */
  width: 100vw;
  height: 100vh;
}

.track-container::-webkit-scrollbar {
  display: none;
}

.track-img {
  animation: scrollEffect linear;
  /* scroll-timeline-axis: inline; */
  animation-timeline: view(inline);
  animation-range: entry 0% cover 40%;
  /* scroll-behavior: smooth; */
  display: flex;
  flex-direction: row;
  align-items: baseline;
  flex: 0 0 auto;
  height: 80%;
  top: 10%;
  position: relative;
  width: auto;
}

.track-img img {
  object-fit: contain;
  width: auto;
  height: 100%;
}

.track-pre,
.track-after {
  flex: 0 0 auto;
  width: 5vw;
}

.track-after {
  width: 30vw;
}

/* loading effect */
.loading-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* HTML: <div class="loader"></div> */
.create-form-loader {
  display: inline-grid;
  width: 70px;
  aspect-ratio: 1;
  animation: l6-0 .8s linear infinite;
  transform: rotate(90deg);
}

.create-form-loader:before,
.create-form-loader:after {
  content: "";
  grid-area: 1/1;
}

.create-form-loader:before {
  clip-path: polygon(100% 50%, 90.45% 79.39%, 65.45% 97.55%, 34.55% 97.55%, 9.55% 79.39%, 0% 50%, 9.55% 20.61%, 34.55% 2.45%, 65.45% 2.45%, 90.45% 20.61%, 100% 50%, 85.6% 24.14%, 63.6% 8.15%, 36.4% 8.15%, 14.4% 24.14%, 6% 50%, 14.4% 75.86%, 36.4% 91.85%, 63.6% 91.85%, 85.6% 75.86%, 94% 50%, 85.6% 24.14%);
  background: #574951;
}

.create-form-loader:after {
  background: #83988E;
  clip-path: polygon(100% 50%, 65.45% 97.55%, 9.55% 79.39%, 9.55% 20.61%, 65.45% 2.45%);
  margin: 23%;
  translate: -143% 0;
  transform-origin: right;
  animation: inherit;
  animation-name: l6-1;
}

@keyframes l6-0 {
  0% {
    rotate: 18deg
  }

  to {
    rotate: -18deg
  }
}

@keyframes l6-1 {
  0% {
    rotate: -54deg
  }

  to {
    rotate: 54deg
  }
}