@keyframes scrollEffect {
    from {
        opacity: 0;
        scale: 0.5;
    }

    to {
        opacity: 1;
        scale: 1;
    }
}


.container {
    width: 99vh;
    height: 99vw;
    overflow-x: hidden;
    overflow-y: auto;
    transform: rotate(-90deg) translateY(-100vh);
    transform-origin: top right;

}


.container::-webkit-scrollbar {
    display: none;
  }

.div {
    height: 70%;
    margin-bottom: 1rem;
    transform: rotate(90deg);
    animation: scrollEffect linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}


.pre{
    /* Leave Blank at the beginning */
    height: 60vh;
}

.after{
    /* Leave Blank at the end */
    height: 50vh;
}

